.hide { display: none; }

figure {
  margin: 0;
}
#controls span { cursor: pointer;  color: #fff; margin-right: 20px; }

body {  background-color: #333 }
ul { width: 400px; }
ul li a { color: #ddd;  text-decoration: none; }

.trans40 {opacity:0.4; filter:alpha(opacity=40); /* For IE8 and earlier */}
.trans80 {opacity:0.8; filter:alpha(opacity=80); /* For IE8 and earlier */}
.shadow {
  -moz-box-shadow:    0px 0px 15px 3px #666;
  -webkit-box-shadow: 0px 0px 15px 3px #666;
  box-shadow:         0px 0px 15px 3px #666;
}

#container { padding: 20px;  width: 1000px; height: 810px; position: relative;  margin: 10px auto; overflow: hidden; }
#bigScreen { position: absolute; top: 0; left: 0;  min-width: 1000px;  min-height: 851px; z-index: -1;
/* opacity:0.4; filter:alpha(opacity=40); */
/* For IE8 and earlier */
border-radius: 8;
-moz-border-radius: 8px;
border-radius: 8px;
}

#bookmarks { height: 25px; padding: 2px 0 0 2px; border: solid 1px #aaa; width: 480px; text-align: center; }
#bookmarks li { width: 18px; float: left; list-style-type: none; }

#movieListWell { height: 685px; width: 520px; overflow: hidden; overflow-y: scroll; border: solid 1px #aaa;  background-color: #333;}
#innerWell { float: right; height: 615px; width: 400px; padding: 0; margin: 0; border: solid 1px #333; overflow: hidden; background-color: #333; }

/* height is 3px more in order to keep the scrollDn from endlessly looping on the last row */
#movieList { position: relative; width: 400px; height: 618px;  overflow: hidden; overflow-y: scroll; padding: 0px; margin-bottom: 20px; }

#movieList li { width: 400px; background-color: #888; height: 40px; line-height: 38px;  padding: 0 30px 0 15px; }
.movieFlags { float: right; }
#scrollUp { background-image: url('../images/chevron_up.png'); }
#scrollDn { background-image: url('../images/chevron_dn.png'); }
#scrollUp:hover { background-image: url('../images/chevron_up_on.png'); }
#scrollDn:hover { background-image: url('../images/chevron_dn_on.png'); }

.scottPick { float: right; width: 25px; height: 24px; margin-top: 7px;  cursor: pointer; }
.scottPickTrue {  background: url('../images/ckCircle1.png') no-repeat -1px 0px; }
.scottPickFalse { background: url('../images/ckCircle1.png') no-repeat -28px 0px; }

#scrollBox { float: left; height: 600px; }
#scrollBox div { width: 60px; height: 160px; border: solid 1px #ddd; }
#scrollDn { margin-top: 280px; }

#movieList li.activeMovie {
color: #ffffff;
background-color: #428bca;
border-color: #428bca; }

#movieList li.highlightedMovie { background-color: #eef; color: #666; }

ul#selectedMovieList { list-style-type: none; height: 560px;  overflow: hidden; overflow-y: scroll; }
ul#selectedMovieList li span {font-size: .8em; font-style: italic; color: #aaa; margin-right:  10px; cursor: pointer; }

.activeRow{
color: red;
}

#tmdbNotice { vertical-align: bottom; }

#profile { position: absolute; right: 20px;  width: 400px; height: 500px; }
#profile img { width: 400px; border-radius: 4; -moz-border-radius: 4px; border-radius: 4px; }
#info { border: solid 1px #ddd; }
.face.back { color: #ddd;  padding: 20px; background-color: #333; }

p.viewport {
	border-radius: 5px 5px 5px 5px ;
	box-shadow: 1px 1px 5px #454545 ;
	height: 593px;
	position: relative ;
	width: 400px ;
}

p.viewport img.fader {
	border-radius: 5px 5px 5px 5px ;
	display: none ;
	height: 593px ;
	left: 0px ;
	position: absolute ;
	top: 0px ;
	width: 400px ;
	z-index: 2 ;
}

p.viewport img.fader.show {
	display: block ;
	transition: opacity 500ms ease ;
}

p.viewport img.fader.fadeOut {
	opacity: 0 ;
}

p.viewport img.image {
	border-radius: 5px 5px 5px 5px ;
	display: block ;
	height: 593px ;
	width: 400px ;
}

div#footerWell { background-color:  #333; padding: 5px 10px; }
footer { color: #aaa;  text-align: right; font-size: 8px; }
footer img { margin-left: 20px; }
.scott { background-image:  url('../images/scott.png'); background-repeat: no-repeat; }
