

@media only screen
and (max-width : 1020px) {
/* Styles */
	body { max-height: 920px; }
	.well { padding: 10px; }
	#scrollBox { display: none; }
	ul#bookmarks { width: 24px; float: left; height: auto; font-size: 10px; line-height: 20px;  }
	div#innerWell { height: 100%; width: calc(100% - 35px); min-width: 310px;}
	ul#movieList { width: 100%; }
	ul#movieList li { width: 100%; }
}
@media only screen
and (max-width : 960px) {
	body { max-height: 780px; }
}

@media only screen
and (max-width : 760px) {
	body { max-height: 800px; }
	div#profile { display: none; }
	div#movieListBox { width: 100%; }
	ul#movieList { font-size: 12px; }
}

@media only screen
and (max-height : 790px) {
	body { max-height: 760px; }
	div#container { padding-top: 10px; padding-bottom: 0px; margin: 0 auto; }
	div#movieListBox { height: calc(100% - 65px); }
	div#footerWell { margin-top: 10px; margin-bottom: 0px; }
	footer img { height: 30px; }
}

/*@media all and (max-height:960px) and (max-width:540px) and (max-device-width:360px) {  */
@media all and (max-height:960px) and (max-width:540px) {
	body { width: 360px; height: 640px; min-height: 0; padding: 0;}
	div#container { padding: 0; width: 100%; margin: 0; }
	div#movieListWell { padding: 5px; opacity: .9;}
	div#movieListBox { width: 100%; min-width: 0; }
	div#innerWell { width: calc(100% - 28px); min-width: 0; color: #000; }
	#movieList li.highlightedMovie { color: #333; }
	div#mobileMenu { width: calc(100% - 40); background-color: #ddd; padding: 0, 10px; cursor: pointer; }
}
